---
layout: home-page
title: Workplace
permalink: /workplace/
---
{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category_words = site_categories | split:',' | sort %}

<section class="blog-workplace">
  <h1>Posts in Workplace</h1>
<!--  lists all posts corresponding to specific tag...-->
{% for post in site.categories['Workplace'] %}{% if post.title != null %}
<div class="category-list">
    <span><a href="{{ post.url }}">{{ post.title }}</a></span>
    <small><span>| {{ post.date | date_to_string }}</span></small>
    <p><img src="{{site.baseurl}}/assets/img/workplace/{{ post.date | date: "%Y%m%d"}}/thumbnail.jpg"></p>
    <p><span>&nbsp;&nbsp;- {{ post.description }}</span></p>
    <hr width="260px" align="left" color="grey">
</div>
{% endif %}{% endfor %}
</section>
